<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="noah.averagefinish"
    android:versionCode="5"
    android:versionName="3.0">
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name">
        <activity
            android:name="noah.poolgamescorer.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="noah.poolgamescorer.averagefinish.AFGameActivity"
            android:theme="@style/Theme.AverageFinish"
            android:label="@string/title_activity_af"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="noah.poolgamescorer.averagefinish.AFPlayersActivity"
            android:theme="@style/Theme.AverageFinish"
            android:label="@string/title_activity_af"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="noah.poolgamescorer.bowlliards.BWActivity"
            android:theme="@style/Theme.Bowlliards"
            android:label="@string/title_activity_bowlliards"/>
        <activity
            android:name="noah.poolgamescorer.endlesspool.EPActivity"
            android:theme="@style/Theme.EndlessPool"
            android:label="@string/title_activity_endless_pool"/>
        <provider
            android:name="noah.poolgamescorer.averagefinish.AFContentProvider"
            android:authorities="noah.poolgamescorer.averagefinish"
            android:exported="false"/>
    </application>
</manifest>